.footer{
  background: #458ab6;
  color: #ffffff;
  padding: 60px 0 100px 0;
  @media(min-width: 767px){
    padding: 90px 0 150px 0;
  }
}
.about-organisation{
  &__heading{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media(min-width: 767px){
      font-size: 36px;
    }
  }
}
.recruit{
  &__heading{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media(min-width: 767px){
      font-size: 36px;
    }
  }
}
