.narrative{
  padding: 120px 0;
  text-align: center;
  color: #ffffff;
  background: $brand-primary;
  &__heading{
    text-transform: uppercase;
  }
  &__text{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
.adopt{
  text-align: center;
  &__heading{
    color: $brand-primary;
    text-transform: uppercase;
  }
}
.process{
  padding: 120px 0;
  text-align: center;
  &__heading{
    color: $brand-primary;
    text-transform: uppercase;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  &__text{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}